<h1 class="section-txt">Expert Home Cleaning</h1>
<div class="carousel-container container">
    <owl-carousel-o [options]="customOptions" (translated)="getPassedData($event)" class="pt-1">
        <ng-container *ngFor="let item of carouselList">
            <ng-template carouselSlide>
                <img [src]="item.carouselImageUrl" [alt]="item.carouselImageUrl" [title]="item.carouselTitle" class="carousel-img mt-3 shadow" />
                <h4>{{ item.carouselTitle }}</h4>
                <h5>{{ item.carouselSubtitle }}</h5>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>