<div class="container mt-5 mb-5">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5 shadow">
                <div class="col col-xs-6 my-auto d-flex justify-content-between">
                    <img class="uc-logo"
                        src="https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep/t_high_res_template,q_auto:low,f_auto/categories/category_v2/category_425cd8c0.png">
                    <i class="fa fa-times" (click)="navigateHome()"></i>
                </div>
                <h3 class="mt-4">Reset Password</h3>
                <small class="mt-2 text-muted">Please enter your email address to request a password reset.</small>
                <div class="form-input"> <i class="fa fa-user"></i> <input type="text" class="form-control"
                        placeholder="Email Address" #passwordResetEmail required> </div>
                <button class="btn btn-primary mt-4 signup"
                    (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
            </div>
        </div>
    </div>
</div>