.head-txt {
    text-align: center;
    color: white;
    font-size: 3rem;
    font-weight: 500;
    margin-top: 1.5rem;
}

.page-path {
    text-align: center;
    color: white;
    font-size: small;
    font-weight: 500;
    margin-top: 6rem;
}

.banner-section {
    margin-bottom: 2rem;
}

.section-txt {
    text-align: center;
    color: #000;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 1rem;
}

.section-break {
    height: 1rem;
    color: #bfbfbf;
}

@media only screen and (max-width: 1200px) {
    .banner-section {
        display: none;
    }
    .section-txt {
        font-size: large;
        margin-bottom: 0.5rem;
    }
}

/* Medium devices (display size, upto 768px) */
@media only screen and (max-width: 767px) {
    .page-path {
        margin-top: 3rem;
    }
    .head-txt {
        text-align: center;
        color: white;
        font-size: 2rem;
        font-weight: 500;
        margin-top: 1.5rem;
    }
}

@media only screen and (max-width: 422px) {
    .page-path {
        margin-top: 2rem;
    }
    .head-txt {
        text-align: center;
        color: white;
        font-size: 1.6rem;
        font-weight: 500;
        margin-top: 1.5rem;
    }
}
